@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

:root {
    --color-primary: #e4e1e6;
    --color-secondary: #c6c5d0;
    --color-background: #1e1e1e;
    --color-background-alt: #2e2e2e;
    --color-highlight: #8d85e4;
}

html {
    scroll-behavior: smooth;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    outline: none;
    text-decoration: none;
    font-family: inherit;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

body {
    letter-spacing: -.011em;
    font-family: "Baloo 2", sans-serif;
    color: var(--color-secondary);
    background-color: var(--color-background);

    width: 100svw;
    height: 100svh;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/scribble.png);
    background-repeat: repeat;
    z-index: -2;
    mask: linear-gradient(45deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.5) 100%);
    opacity: 0.1;
    animation: scroll-bg 300s linear infinite;
}
@keyframes scroll-bg {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -1000% 1000%;
    }
}

nav#tabs {
    display: grid;
    gap: 2em;
    justify-content: center;
    align-items: center;
    grid-template-columns: 30% 30%;
}
#tabs > .active {
    background-color: var(--color-highlight);
    color: var(--color-primary)
}

section {
    margin: 0 auto;
    width: min(100%, 1000px);
    max-width: 1000px;

    padding: 2.1em;

    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;

    border-bottom: 1px solid var(--color-highlight);

    img {
        width: 80%;
        height: auto;
        opacity: 0.8;
        border-radius: 5px;
        object-fit: contain;
        margin: auto;
    }
}

header + section {
    border-top: 1px solid var(--color-highlight);
}

#options {
    display: flex;
    gap: 0.6em;
    align-items: center;
    justify-content: flex-end;
    padding-block: 0;
    border-bottom: none;

    button {
        padding: 0.2em 0.8em;

        &.active {
            background-color: var(--color-highlight);
            color: var(--color-primary)
        }
    }
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    gap: 1.5em;
    row-gap: 0;
    flex-wrap: wrap;

    a {
        color: var(--color-secondary);
        text-decoration: none;
        font-weight: 500;
        font-size: 1.2em;
        letter-spacing: 0.05em;
        padding: 0.5em 1em;
        background-image: linear-gradient(90deg, transparent 0%, var(--color-highlight) 50%, transparent 100%);
        background-position: 50% 70%;
        background-size: 0 5%;
    }

    a:hover {
        color: var(--color-highlight);
        background-size: 60% 5%;
    }
}

header {
    margin: 0 auto;
    width: min(100%, 1000px);
    max-width: 1000px;

    padding: 2.1em;

    h1 {
        letter-spacing: 0.05em;
    }

    p {
        margin-left: 0.4em;
    }

    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1em;
        gap: 0.5em;
    }

    img {
        width: 3em;
        height: 3em;
        border-radius: 5px;
        object-fit: contain;
        margin-bottom: auto;
        margin-top: 0.5em;
    }
}

h1, h2 {
    color: var(--color-primary);
    line-height: 1.2;
    font-weight: 700;
    text-shadow: 2px 2px 0 var(--color-highlight)
}

p, label {
    margin-bottom: 1em;
    line-height: 1.6;
}

h1 {
    margin-bottom: 0.4em;
    letter-spacing: -.035em;
    font-size: 3.235em;
    line-height: 1.1;
}
h2 {
    margin-bottom: 0.4em;
    letter-spacing: -.02em;
    font-size: 2.6em;
    font-weight: 700;
}

.tool {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

footer {
    margin: 0 auto;
    width: min(100%, 1000px);
    max-width: 1000px;

    padding: 2.1em;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    background: var(--color-background-alt);
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    margin-block: 1em;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: var(--color-background-alt);
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    transform: translateY(-25%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--color-highlight);
    cursor: pointer;
}
input[type="range"]::after {
    content: attr(value);

    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(50%);
    font-size: 1em;
    font-weight: 700;
    color: var(--color-highlight);
}

button {
    margin-block: 1em;
    border: 2px solid var(--color-highlight);
    border-radius: 5px;
    padding: 0.8em 1em;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 0.05;
    font-size: 0.8em;
    background: var(--color-background);
    color: var(--color-highlight);
}

button:hover {
    background: var(--color-highlight);
    color: var(--color-background);
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label::after {
    content: "";
    display: block;
    width: 15px;
    margin-inline: auto;
    height: 15px;
    border: 2px solid var(--color-highlight);
    border-radius: 5px;
    background: var(--color-background);
    position: relative;
    top: 0;
    left: 0;
}

input[type="checkbox"]:checked + label::after {
    background: var(--color-highlight);
}

input[type="file"] {
    margin-block: 1em;
}

input[type="text"] {
    margin-bottom: 1em;
    padding: 0.5em;
    border-radius: 5px;
    border: 2px solid var(--color-highlight);
}

a {
    color: var(--color-highlight);
    text-decoration: none;
    background-image: linear-gradient(90deg, var(--color-highlight) 0%, transparent 100%);
    background-size: 0 10%;
    background-repeat: no-repeat;
    background-position: 0 90%;
    transition: background-size 0.2s ease-in-out;
}

a:hover {
    background-size: 100% 10%;
}

.checkbox, .file {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}
.file label {
    margin: 0;
}

.to-top {
    background: none;
    border: none;
    position: fixed;
    bottom: .75em;
    right: 1.75em;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    transition: background-color .3s ease-in-out;
    z-index: 9999;
    cursor: pointer;
}
.to-top div {
    --icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' display='inline-block' height='1.2em' width='1.2em' vertical-align='text-bottom' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M13 7.828V20h-2V7.828l-5.364 5.364l-1.414-1.414L12 4l7.778 7.778l-1.414 1.414z'/%3E%3C/svg%3E");
    -webkit-mask: var(--icon) no-repeat;
    mask: var(--icon) no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    background-color: currentColor;
    color: inherit;
    display: inline-block;
    vertical-align: text-bottom;
    color: var(--color-highlight);
    width: 100%;
    height: 100%;
    opacity: .6;
    transition: color .3s ease-in-out;
}
.to-top:hover div {
    opacity: 1;
    color: var(--color-background);
}

.to-discord {
    background: none;
    border: none;
    position: fixed;
    bottom: .75em;
    left: 1.75em;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    transition: background-color .3s ease-in-out;
    z-index: 9999;
    cursor: pointer;
    display: grid;
    place-items: center;
}
.to-discord div {
    --icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' display='inline-block' height='1.2em' width='1.2em' vertical-align='text-bottom' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M20.317 4.37a19.791 19.791 0 0 0-4.885-1.515a.074.074 0 0 0-.079.037c-.21.375-.444.864-.608 1.25a18.27 18.27 0 0 0-5.487 0a12.64 12.64 0 0 0-.617-1.25a.077.077 0 0 0-.079-.037A19.736 19.736 0 0 0 3.677 4.37a.07.07 0 0 0-.032.027C.533 9.046-.32 13.58.099 18.057a.082.082 0 0 0 .031.057a19.9 19.9 0 0 0 5.993 3.03a.078.078 0 0 0 .084-.028a14.09 14.09 0 0 0 1.226-1.994a.076.076 0 0 0-.041-.106a13.107 13.107 0 0 1-1.872-.892a.077.077 0 0 1-.008-.128a10.2 10.2 0 0 0 .372-.292a.074.074 0 0 1 .077-.01c3.928 1.793 8.18 1.793 12.062 0a.074.074 0 0 1 .078.01c.12.098.246.198.373.292a.077.077 0 0 1-.006.127a12.299 12.299 0 0 1-1.873.892a.077.077 0 0 0-.041.107c.36.698.772 1.362 1.225 1.993a.076.076 0 0 0 .084.028a19.839 19.839 0 0 0 6.002-3.03a.077.077 0 0 0 .032-.054c.5-5.177-.838-9.674-3.549-13.66a.061.061 0 0 0-.031-.03M8.02 15.33c-1.182 0-2.157-1.085-2.157-2.419c0-1.333.956-2.419 2.157-2.419c1.21 0 2.176 1.096 2.157 2.42c0 1.333-.956 2.418-2.157 2.418m7.975 0c-1.183 0-2.157-1.085-2.157-2.419c0-1.333.955-2.419 2.157-2.419c1.21 0 2.176 1.096 2.157 2.42c0 1.333-.946 2.418-2.157 2.418'/%3E%3C/svg%3E");
    -webkit-mask: var(--icon) no-repeat;
    mask: var(--icon) no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    background-color: currentColor;
    color: inherit;
    display: inline-block;
    vertical-align: text-bottom;
    color: var(--color-highlight);
    width: 60%;
    height: 60%;
    opacity: .6;
    transition: color .3s ease-in-out;
}
.to-discord:hover div {
    opacity: 1;
    color: var(--color-background);
}
.to-discord:hover {
    background-color: var(--color-highlight);
}

/* details output */

#details-output {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-block: 1em;
}
#details-output > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-block: 1em;
}

#details-name {
    color: var(--color-primary);
    text-shadow: 2px 2px 0 var(--color-highlight);
    line-height: 1.2;
    font-weight: 500;
    margin-bottom: 0.2em;
    letter-spacing: -.02em;
    font-size: 2.6em;
}

#details-author_name {
    color: var(--color-secondary);
    font-weight: 500;
    margin-bottom: 0.2em;
    letter-spacing: -.02em;
    font-size: 1.4em;
}

#details-player_count {
    color: var(--color-secondary);
    font-weight: 500;
    margin-bottom: 0.2em;
    letter-spacing: -.02em;
    font-size: 1em;
}

#details-game_mode {
    color: var(--color-secondary);
    font-weight: 500;
    margin-bottom: 0.2em;
    letter-spacing: -.02em;
    font-size: 1em;
}

#details-theme {
    color: var(--color-secondary);
    font-weight: 500;
    margin-bottom: 0.2em;
    letter-spacing: -.02em;
    font-size: 1em;
}

#details-nodes, #details-animations {
    color: var(--color-secondary);
    font-weight: 500;
    margin-bottom: 0.2em;
    letter-spacing: -.02em;
    font-size: 1.2em;
}

#details-nodes-by-type {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 0.4em;
    margin-inline: 0.2em;

    > span {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        border: 2px solid var(--color-highlight);
        background: #8d85e430;
        border-radius: 5px;
    }
}

#circle-advanced-options, #pixel-art-advanced-options {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 0.4em;
    margin-inline: auto;

    border: 2px solid var(--color-highlight);
    border-radius: 5px;

    padding: 1em;

    > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}
#pixel-art-advanced-options {
    display: none;
}

#block-defs {
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));

    gap: 0.5em 0;
    margin-inline: auto;

    border: 2px solid var(--color-highlight);
    border-radius: 5px;

    padding: 1em 0.5em;

    > span {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    img {
        width: 40px;
        height: 40px;
    }
}

#help {
    grid-template-columns: 1fr;

    > div:first-child {
        margin: 0 auto;
        width: 100%;

        display: grid;
        grid-template-columns: 1fr 1fr;
        place-content: center;
    }
}

textarea {
    width: 100%;
    height: 10em;
    padding: 0.5em;
    border: 2px solid var(--color-highlight);
    border-radius: 5px;
    background: var(--color-background);
    color: var(--color-secondary);
    font-family: "Baloo 2", sans-serif;
    font-size: 1em;
    line-height: 1.6;
    resize: none;
}

.leaderboard {
    border: 2px solid var(--color-highlight);
    border-radius: 5px;
    margin-inline: 1rem;
    padding: 0.4rem;
    max-height: 400px;
    overflow-y: scroll;
    margin-bottom: 2em;
}
.leaderboard::-webkit-scrollbar {
    display: none
}
.lb-row {
    display: grid;
    grid-template-columns: 1rem 1fr auto;
    padding: 0.1rem 0.6rem;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid var(--color-background-alt);
}
.alt-account {
    opacity: 0.5;
}
#popup-comparison, #popup-change {
    display: none;
}
#popup-comparison .lb-row {
    grid-template-columns: 1rem 1fr auto auto;
}
.lb-row:last-child {
    border-bottom: none;
}
.lb-row span:nth-child(1) {
    font-weight: 600;
    color: var(--color-highlight)
}
.lb-row span:nth-child(2) {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.lb-row span:nth-child(3) {
    font-weight: 600;
    color: var(--color-primary)
}
#popup-comparison .lb-row span:nth-child(3) {
    font-weight: 400;
    color: var(--color-secondary)
}
#popup-comparison .lb-row span:nth-child(3) b {
    font-weight: 600;
    color: var(--color-primary)
}
#popup-comparison .lb-row span:nth-child(4) {
    font-weight: 600;
    color: var(--color-highlight)
}
.hint {
    color: var(--color-secondary);
    font-weight: 400;
    font-size: 0.8rem;
    display: inline-block;
    text-shadow: none;
    position: absolute;
    left: 0.2rem;
    bottom: -0.8rem;
}
.lb-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
}
.lb-header h2 {
    margin-bottom: 0;
}
.date {
    padding-right: 2rem;
    color: var(--color-secondary);
    opacity: 0.5;
    font-weight: 400;
    font-size: 0.8rem;
    width: 100%;
    text-align: right;
    display: block;
}

#winrate-lb-container {
    display: none;
}

@media only screen and (max-width: 768px) {
    section {
        grid-template-columns: 1fr;
        gap: 1em;

        img {
            max-width: 400px;
        }
    }
}