@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

:root {
    --color-primary: #e4e1e6;
    --color-secondary: #c6c5d0;
    --color-background: #1e1e1e;
    --color-background-alt: #2e2e2e;
    --color-highlight: #8d85e4;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    outline: none;
    text-decoration: none;
    font-family: inherit;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

body {
    letter-spacing: -.011em;
    font-family: "Baloo 2", sans-serif;
    color: var(--color-secondary);
    background-color: var(--color-background);

    width: 100svw;
    height: 100svh;
}

section {
    margin: 0 auto;
    width: min(100%, 1000px);
    max-width: 1000px;

    padding: 2.1em;

    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;

    border-bottom: 1px solid var(--color-highlight);

    img {
        width: 80%;
        height: auto;
        opacity: 0.8;
        border-radius: 5px;
        object-fit: contain;
        margin: auto;
    }
}

section:nth-child(2) {
    border-top: 1px solid var(--color-highlight);
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    gap: 1.5em;

    a {
        color: var(--color-secondary);
        text-decoration: none;
        font-weight: 500;
        font-size: 1.2em;
        letter-spacing: 0.05em;
        padding: 0.5em 1em;
        background: none;
    }

    a:hover {
        color: var(--color-highlight);
    }
}

header {
    margin: 0 auto;
    width: min(100%, 1000px);
    max-width: 1000px;

    padding: 2.1em;

    h1 {
        letter-spacing: 0.05em;
    }

    p {
        margin-left: 0.4em;
    }

    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1em;
        gap: 0.5em;
    }

    img {
        width: 3em;
        height: 3em;
        border-radius: 5px;
        object-fit: contain;
        margin-bottom: auto;
        margin-top: 0.5em;
    }
}

h1, h2 {
    color: var(--color-primary);
    line-height: 1.2;
    font-weight: 700;
    text-shadow: 2px 2px 0 var(--color-highlight)
}

p, label {
    margin-bottom: 1em;
    line-height: 1.6;
}

h1 {
    margin-bottom: 0.4em;
    letter-spacing: -.035em;
    font-size: 3.235em;
    line-height: 1.1;
}
h2 {
    margin-bottom: 0.4em;
    letter-spacing: -.02em;
    font-size: 2.6em;
    font-weight: 700;
}

.tool {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

footer {
    margin: 0 auto;
    width: min(100%, 1000px);
    max-width: 1000px;

    padding: 2.1em;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    background: var(--color-background-alt);
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    margin-block: 1em;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: var(--color-background-alt);
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    transform: translateY(-25%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--color-highlight);
    cursor: pointer;
}
input[type="range"]::after {
    content: attr(value);

    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(50%);
    font-size: 1em;
    font-weight: 700;
    color: var(--color-highlight);
}

button {
    margin-block: 1em;
    border: 2px solid var(--color-highlight);
    border-radius: 5px;
    padding: 0.8em 1em;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 0.05;
    font-size: 0.8em;
    background: var(--color-background);
    color: var(--color-highlight);
}

button:hover {
    background: var(--color-highlight);
    color: var(--color-background);
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label::after {
    content: "";
    display: block;
    width: 15px;
    margin-inline: auto;
    height: 15px;
    border: 2px solid var(--color-highlight);
    border-radius: 5px;
    background: var(--color-background);
    position: relative;
    top: 0;
    left: 0;
}

input[type="checkbox"]:checked + label::after {
    background: var(--color-highlight);
}

input[type="file"] {
    margin-block: 1em;
}

a {
    color: var(--color-highlight);
    text-decoration: none;
    background-image: linear-gradient(150deg, transparent 0%, transparent 50%, var(--color-highlight) 100%);
    background-size: 0 100%;
    background-repeat: no-repeat;
    background-position: 100%;
    transition: background-size 0.2s ease-in-out;
}

a:hover {
    background-size: 100% 100%;
}

.checkbox, .file {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}
.file label {
    margin: 0;
}

@media only screen and (max-width: 768px) {
    section {
        grid-template-columns: 1fr;
        gap: 1em;

        img {
            max-width: 400px;
        }
    }
}